/* Disclaimer: Copied CSS from an older project to save time */

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Lato:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(#29251c, #2c2306);
  color: #d9e2f1;
  min-height: 100vh;
}

#header {
  display: inline-flex;
  /* justify-content: space-between; */
  align-items: center;
  padding: 3rem 10%;
}

#header #title {
  display: flex;
  gap: 1rem;
  align-items: center;
}

#header button {
  font-size: 1.5rem;
  font-family: "Lato", sans-serif;
}

h2 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  margin: 0;
  color: #ffc404;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  padding-right: 3rem;
}

#products {
  width: 90%;
  max-width: 70rem;
  list-style: none;
  margin: 2rem auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1rem;
}

.product-item {
  background-color: #1d1a16;
  border-radius: 1rem;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
 }

.product-item article {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-item img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.product-item h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0.75rem 0;
}

.product-item h4 {
  font-size: 1rem;
  font-weight: italic;
  margin: 0.75rem 0;
}

.product-item-description {
  margin: 1rem;
}

.product-item-price {
  display: inline-block;
  background-color: #312c1d;
  color: #ffc404;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 0.5rem 2rem;
  margin: 0;
  border-radius: 4px;
}

.product-item-actions {
  margin-bottom: 1.5rem;
}
.button {
  font: inherit;
  cursor: pointer;
  background-color: #ffc404;
  border: 1px solid #ffc404;
  color: #1f1a09;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
}

.button:hover,
.button:active {
  background-color: #ffab04;
  border-color: #ffab04;
  color: #1f1a09;
}

.text-button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: #ffc404;
}

.text-button:hover,
.text-button:active {
  color: #ffab04;
}


.search-input {
  padding: 3rem 10%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  max-width: 400px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease;
  font-family: "Raleway", sans-serif;
}

.search-input:focus {
  border-color: #0073e6;
  box-shadow: 0 0 5px rgba(0, 115, 230, 0.5);
}

.trending-products {
  font-size: 16px;
  font-weight: bold;
  color: #b7b6b6;
  margin-bottom: 20px;
}

.label {
  font-weight: bold;
  color: #fafafa;
  margin-right: 10px;
}

.loading-message {
  font: inherit;
  font-size: 16px;
  color: #f0efef;
  text-align: center;
}

.loading-message.error {
  color: red;
}

@keyframes fade-slide-up {
  from {
    opacity: 0;
    transform: translateY(4rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Decrease header text for mobile devices */
@media only screen and (max-width: 768px) {
  #header {
    text-align: left;
    padding: 1rem;
  }
  h2 {
    font-size: 1.2rem;
  }
}

