.searchInput {
  padding: 3rem 10%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  max-width: 400px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease;
  font-family: "Raleway", sans-serif;
}

.searchInput:focus {
  border-color: #0073e6;
  box-shadow: 0 0 5px rgba(0, 115, 230, 0.5);
}
